In [7]:
t1 = ()
print(t1)
t1 = (5,)
print(t1)
t2 = (t1, 4)
print(t2)
t3 = t1 + ( 4,)
print(t3)
t3 *= 3
print(t3)

()
(5,)
((5,), 4)
(5, 4)
(5, 4, 5, 4, 5, 4)

In [10]:
print(t3.index(4))
print(len(t3))
print(t3.count(4))
print(max(t3))
print(sum(t3))
print(sorted(t3))
print(t3[-1])
print(t3[3:6])
del t3
print(t3)

1
6
3
5
27
[4, 4, 4, 5, 5, 5]
4
(4, 5, 4)

NameError: name 't3' is not defined